<!DOCTYPE HTML>
<html>
	<meta charset="UTF-8">
<head>
	<link href="/static/site.css" rel="stylesheet">
	<title>Add social card info to an url</title>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107710384-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	  gtag('config', 'UA-107710384-1');
	</script>
<body>
	<div class="navbar"></div>
	<div class="container centered">

		<h1>Add social card info to an url</h1>

		<form action="/display" method="get">
			<p>
			<input type="text" name="url" class="form-control" id="url" placeholder="Webpage to redirect to" value="http://annevanrossum.com">
			</p>
			<p>
			<input type="text" name="image_url" class="form-control" id="image_url" placeholder="Image url" value="http://cdn.freshome.com/wp-content/uploads/2012/10/The-Neighbors-Have-Better-S.jpg" >
			</p>
			<p>
			<input type="text" name="title" class="form-control" id="title" placeholder="Image title" value="Image title">
			</p>
			<p>
			<input type="text" name="image_alt" class="form-control" id="image_alt" placeholder="Image alternative text" value="Image alternative text">
			</p>
			<p>
			<input type="text" name="description" class="form-control" id="description" placeholder="Image description" value="Image description">
			</p>
			<input type="submit" value="Submit">
		</form>
		<div class="form">
		<h1>Some explanation</h1>
		<p>
		At times you would really like to link to a nice website from for example Twitter. For example you would like to share a beautiful poem from the website <a href="http://thepoeticunderground.com/post/150702123055/thepoeticunderground-the-paperback-princess">http://thepoeticunderground.com</a> by Erin Hanson. However, the webmaster did not set up so-called social cards. This means that this image is not showing up if you use the link in your tweet.
		</p>
		<p>
		This is now solved! 
		</p>
		<p>
		You can just list any website (url) you would like and show a social network site like Twitter or Facebook a corresponding social card with a nice picture. When people click the picture they will be redirected automatically. 
		</p>
		<p>
		You can compare this service with something like <a href="http://bit.ly">bit.ly</a> or <a href="http://goo.gl">goo.gl</a>, but in this case the experience is actually enriched with a picture.
		</p>
		</div>
	</div>

	<footer>
		<p>Made by Anne van Rossum | <a href="https://github.com/mrquincle/">github</a> | <a href="https://twitter.com/annevanrossum">twitter</a> </p>
	</footer> 
</body>
