body {
  background: #355267;
  font-family: 'Droid Sans', sans-serif;
  font-size: 14px;
  line-height: 200%;
  color: #fff; 
  position: relative;
  min-height: 100%;
  top: 0px;
  margin: 0;
}

footer {
  text-align: center;
  vertical-align: bottom;
  margin-top: 20px;
  border-top: 2px dashed #f04949;
}

input[type=submit]:hover, button:hover {
  text-decoration: none;
  background: #11d170;
  cursor: pointer;
}

button.clicked:hover {
  background: #f04949;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

input[type=submit], button {
  text-transform: uppercase;
  display: inline;
  padding: 20px 60px;
  background: #39d084;
  color: white;
  font-size: 26px;
  margin: 20px 0;
  border: none;
  border-radius: 20px;
}

input[type=text] {
  height: 36px;
  color: #355267;
  min-width: 30%;
}

a {
  color:#39d084;
}

a:hover {
  color: #11d170;
}

.navbar {
  min-height: 60px;
  background: #f04949;
  width: 100%;
}

.example {
  text-indent: 50px;
}

.container {
  margin: 0 20px 0 20px;
}

.centered {
  text-align: center;
}

.clicked {
  background: #f04949;
}

.picture {
  background: white; 
  display: inline-block;
  color: #355267;
  text-align: left;
  padding: 15px;
}

.picture .caption {
  padding: 0 10px 0 10px;
}

.picture img {
  text-align: center;
}

@media only screen 
and (min-width : 1824px) {
  .form {
    max-width: 70%;
    display: inline-block;
  }
}

